* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: url('images/background.png') no-repeat center center fixed;
	background-size: cover;
}

div {
	margin: 1rem;
}

ul {
	list-style-type: none;
	margin-top: 1rem;
}

span {
	display: inline-block;
	width: 200px;
}

li {
	margin-bottom: 10px;
}

.bold {
	font-weight: bold;
}

.students-table {
	background-color: palegoldenrod;
}
